@charset "utf-8";
/* CSS Document */
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	color: #4B2701;
	letter-spacing: 1.5px;
	font-size: x-small;
}
body {
	background-color: #FAF2EB;
}
a:link {
	color: #990000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #990000;
}
a:hover {
	text-decoration: none;
	color: #CC0000;
}
a:active {
	text-decoration: none;
}
.sidebar_body {
	font-size: x-small;
	letter-spacing: 1.5px;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.copyright {
	font-size: x-small;
	line-height: 25px;
	letter-spacing: 1px;
	font-variant: small-caps;
	font-family: Georgia, "Times New Roman", Times, serif;
}
.post_title2 {
	font-size: medium;
	background-color: #FFFFFF;
	color: #660000;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-variant: small-caps;
	font-weight: lighter;
	letter-spacing: 2px;
}
.sidebar_title {
	font-size: small;
	color: #660000;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-variant: small-caps;
	font-weight: bold;
	letter-spacing: 2px;
}
.post_title {
	font-size: medium;
	color: #660000;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-variant: small-caps;
	font-weight: bold;
	letter-spacing: 2px;
}
